<div class="row">

    <h1 class="page-header">
        My Books
        <small>{{name}}</small>
    </h1>

    <form  ng-show="myBooks.length" id="findBook" class="form-inline form-search" name="findBook">
        <p>You've read {{readCount.read}} books</p>
        <p>You have {{readCount.unread}} books to read <span ng-show="readCount.unread == 0">Hooray! <i class="fa fa-thumbs-up"></i></span> </p>

        <label>Filter your books
            <input id="in" type="text" ng-model="query" class="search-query input-medium" />
        </label>
    </form>
    <div ng-show="myBooks.length" ng-repeat="book in myBooks | filter:query ">
        <p class="{{book.read}}">
            <img ng-src="{{book.img}}">
            <a href ui-sref="details({ id: book.id })">{{book.title}}</a>
            &nbsp; - &nbsp;
            <input type="checkbox" ng-model="book.read">
        </p>
    </div>
</div>

