<div class="row">
    <h1 class="page-header">Google Books v5</h1>

    <div class="container-fluid" style="padding-left: 10px">
        <form id="myForm" class="form-inline form-search" name="myForm">
            <label>Search for
                <input id="in" type="text" ng-model="searchTerm" class="search-query input-medium" />
            </label>
            <button class="btn btn-primary" ng-click="doSearch()"> Search</button>
        </form>
        <table id="resultsTbl" class="table table-striped" ng-show="bookResults.length">
            <thead>
            <tr>
                <th>{{bookResults.length}} results</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in bookResults">
                <td><a ng-href="{{item.volumeInfo.infoLink}}" target="_blank"><img ng-src="{{item.volumeInfo.imageLinks.smallThumbnail}}" /></a></td>
                <td><a ui-sref="details({ id: item.id })">{{item.volumeInfo.title}}</a><br />
                    By: {{item.volumeInfo.authors}}<br />
                    Published: {{item.volumeInfo.publisher}}, {{item.volumeInfo.publishedDate}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

