@import '../../vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import "variables";
@import "mixins";


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

//.jumbotron{
//  background: red !important;
//}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
	margin-top: 20px;
  }
}

h2 {
  margin: 20px 0;
  color: #666;
}


/**
 * Navigation
 */

.navbar {
  margin-top: 20px;

  small {
	font-size: 60%;
  }
}


/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
	padding: 40px 0;
	border-top: 1px solid #DDD;
  }

  .social {
	float: right;
	margin: 0;
	list-style: none;

	li {
	  float: left;
	  margin-left: 20px;

	  a, a:visited {
		color: $gray-light;
		text-decoration: none;
		font-size: 40px;
		transition: 250ms ease-in-out;

		&:hover {
		  color: $gray;
		}
	  }
	}
  }
}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.scss';
