
@mixin MQ($canvas) {
  @if $canvas == small {
	@media only screen and (max-width: 20em) { @content; } //320px
  }
  @else if $canvas == 'XS' {
	@media only screen and (max-width: 30em) { @content; } //480px
  }
  @else if $canvas == S {
	@media only screen and (max-width: 37.5em) { @content; } //600px
  }
  @else if $canvas == medium {
	@media only screen and (max-width: 48em) { @content; } //768px
  }
  @else if $canvas == larger {
	@media only screen and (min-width: 769px) { @content; } //1024px
  }
  @else if $canvas == XL {
	@media only screen and (min-width: 75em) { @content; } //1200px
  }
}


// retina

@mixin retina($image) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
	background-image: image-url($image);
  }
}


@mixin Circle-Image($size){
  background-repeat: no-repeat;
  background-position: 0px 11%;
  background-size: 100% auto;
  background-size: cover;
  width: $size;
  height: $size;
  border-radius: 50%;
}
