.jumbotron {
  margin: 40px 0 80px 0;
  text-align: center;
  background: beige;

  @include MQ(medium){
	background: $gray;
  }

  h1 {
	margin-bottom: 20px;
	font-size: 55px;
	line-height: 1;
  }

  .lead {
	font-size: 24px;
	line-height: 1.25;
  }

  .btn {
	font-size: 21px;
	padding: 14px 24px;
  }
}

